            /* { Style sheet } 
*
* Author : Mahaveer
* Sections 
    Navigation
    Hero
    Skills
    Works
    Contact
    Footer
*
            Color Combintation
            82AAE3
            91D8E4
            BFEAF5
            EAFDFC
*/
            /* { Element style } */
            
            * {
                box-sizing: border-box;
            }
            
            body {
                font-family: "Quicksans", sans-serif;
            }
            
            .page {
                position: relative;
            }
            /* { Navigation} */
            
            .navigation {
                background-color: #f8f9fe;
                position: sticky;
                top: 0;
                z-index: 100;
            }
            /* {Hero Section} */
            
            .hero-container {
                flex-wrap: wrap-reverse;
            }
            /* {Skill Section} */
            /* {Work Section} */
            
            .works {
                background-color: #91D8E4;
            }
            
            .works h2 {
                color: #fff;
                font-weight: 600;
            }
            
            .work-div {
                position: relative;
            }
            
            .banner-div {
                position: inherit;
            }
            
            .banner-title-div {
                background-color: rgba(253, 194, 0);
                height: inherit;
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                z-index: 1;
                display: none;
            }
            
            .banner-img-div:hover+.banner-title-div {
                display: block;
                transition: .9s ease-in;
            }
            
            .project-title h3 {
                text-align: center;
                padding-top: 20%;
                color: white;
                font-size: 200%;
                font-weight: 600;
            }
            /* {contact} */
            
            .contact h3 {
                font-size: calc(1.3rem + 0.6vw);
                font-weight: 700;
                padding-left: 50px;
            }
            
            .contact a {
                text-decoration: none;
            }
            
            .contact a:hover {
                color: #198754;
            }
            /* {footer} */
            
            .footer .container-fluid {
                background-color: #82AAE3;
            }
            .divider{
                height: 5px;
                background-color:rgba(253, 194, 0);
            }
            .divider-10{
                width: 10%;
            }
            .divider-20{
                width: 20%;
            }
            .divider-center{
                margin: auto;
            }
            @media screen and (max-width:772px) {
                .hero-container .col-md-6 {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
                .hero {
                    padding-bottom: 40px;
                }
                .hero-content {
                    margin-top: 16px;
                    margin-bottom: 50px;
                }
            }